.player {
    display:inline-block;
    width: 100px;
    height: 100px;
}

#game-container {
    position: relative;
}

#player1 {
	background-color: blue;
	position: absolute;
}

#player2 {
	background-color: green;
	position: absolute;
	top: 105px;	
}